$mobile: 580px;
$non_mobile: $mobile + 1px;
$readingwidth: 50em;
$p_space: 0.8em;
$highlight: #bce0ba;


/* generic styles */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  font-size: 14pt;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, Sans-serif;
}
input, button {
  font-family: inherit;
  font-size: inherit;
}
p, section li {
  font-family: Georgia, "Times New Roman", Serif;
  max-width: $readingwidth;
  a {
    white-space: nowrap;
  }
}
p {
  margin: $p_space 0;
}
section ul {
  margin: $p_space 0 ($p_space * 1.5) 1.5em;
}
section li {
  margin: ($p_space * 0.8) 0;
}
h1, h2, h3 {
  font-size: 1em;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}


/* set up set up overall layout/width */
body, .highlight {
  text-align: center;
}
.highlight > *, .inner {
  padding: 0 0.8em;
  text-align: left;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
.highlight {
  background-color: $highlight;
}
.oneline {
  /*
    ensures that the two highlight areas have the same height
    and the 'about' link is aligned the same way
  */
  line-height: 2em;
}






/* search form */
input {
  width: 20em;
}
form ul {
  list-style-type: none;
}

@media(min-width: $non_mobile) {
  form > ul {
    column-width: 10em;
    line-height: 1em;
    font-size: 0.9em;
    margin: 0.2em 0 0.5em 0;
  }
}
li > div {
  display: inline-block;
  width: 100%;
  margin: 0.3em 0;
}
form ul div div {
  /*
    the second link to the details for each section,
    only needed for mobile
   */
  display: none;
}
button {
  width: 100%;
  text-align: left;
  padding: 0 0.5em;
  margin: 0.08em 0;
  font-size: 0.75em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ccc;
  &:hover {
    color: white;
    background-color: #555;
  }
}
@media(max-width: $mobile) {
  .has-js {
    li > div {
      /* since they are collapsed, need more space between each */
      margin: ($p_space / 2) 0;
    }
    h3 a {
      display: block;
      text-decoration: none; /* undo link underline */
      color: inherit; /* undo link colour */
      &:before {
        content: '\25B6\00A0'; /* right arrow */
      }
      &:hover {
        color: darken($highlight, 50%);
      }
    }
    form > ul {
      margin: 1em 0;
    }
    form > ul ul { /* hide each section until active */
      display: none;
    }
    .active {
      ul {
        display: block;
        margin: 0.5em 0;
        margin-left: 1em;
      }
      h3 a:before {
        content: '\25BC\00A0'; /* down arrow */
      }
      div {
        display: block; /* i.e. show */
        margin-left: 1em; /* matches ul left margin above */
      }
    }
    button {
      /* unset button styles set above */
      font-size: 1em;
      margin: 0.2em 0;
    }
  }
}


/* details section */
section {
  margin: 1.5em 0;
  clear: both; /* around adsense */
  h2, h3 {
    font-size: 1.2em;
  }
}
section + section {
  margin-top: 3em;
}
.btt {
  /* back to top links */
  margin-top: 1.5em;
  a {
    font-size: 0.8em;
  }
}
a[href^="h"] {
  /* external links */
  font-weight: bold;
  font-size: 0.9em;
}