<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page.id.capitalize %> search | <%= site[:name] %></title>
    <meta name="description" content="<%= page.description.external %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%= css %></style>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= site[:ga] %>', 'auto');
      ga('send', 'pageview');</script>
  </head>

  <body class="no-js">

    <h1 class="sr-only"><%= site[:name] %>: <%= page.id.capitalize %> search</h1>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <div class="inner"><div id="adone">
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0190441446071737" data-ad-slot="2114379926" data-ad-format="auto"></ins>
    </div></div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

    <div><div class="inner oneline"><a id="about" href="#footer" style="display:block;float:right;margin-left:1.5em">About</a></div></div>

    <form tabindex="-1" id="search" role="search" action="<%= site[:root] %>search.php" target="_blank" method="post">

      <div class="highlight">
        <div class="oneline">
          <label>
            Search for
            <input type="text" name="q">
          </label>
          <span style="white-space:nowrap">to find <%= page.id %> and more using:</span>
        </div>
      </div>

      <p class="sr-only">Results will open in new windows.</p>

      <h2 class="sr-only">Search tools</h2>
      <ul class="inner">
      <% page.sections.each do |group| %>
        <li><div>
          <h3>
            <a href="#<%= group.id %>"><%= group.shortName %></a>
          </h3>
          <ul>
          <% group.tools.each do |tool| %>
            <li>
              <button name="u" value="<%= "#{tool.post}|x|" if tool.post %><%= tool.searchUrl.gsub('&', '&amp;') %>"><%= tool.name %></button>
            </li>
          <% end %>
          </ul>
          <div><a href="#<%= group.id %>">Details</a></div>
        </div></li>
      <% end %>
      </ul>

    </form>

    <div class="highlight"><h2 class="oneline">Details and further resources</h2></div>
    <div id="details" class="inner">

      <% if page.number_of_tools > 40 %>
      <div id="adtwo">
        <ins class="adsbygoogle" data-ad-client="ca-pub-0190441446071737" data-ad-slot="2428777527"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <% end %>

      <%=
        btt = '<p class="btt"><a href="#search">back to top ↑</a></p>'
        page.content.gsub('<section>').with_index do |m, i|
          i == 0 ? "<section><h3 class=\"sr-only\">Overview</h3>" : "<section tabindex=\"-1\" id=\"#{page.sections[i-1].id}\"><h3>#{page.sections[i-1].name}</h3>"
        end
        .gsub('</section>', "#{btt}</section>").sub(btt, '')
      %>
    </div>

    <footer tabindex="-1" id="footer" class="highlight" style="padding:1em 0">
      <section role="navigation" style="margin-top:0">
        <h2>More search tools on <%= site[:name] %></h2>
        <ul>
        <% pages.reject{|p| (p.id == page.id) || p.unpublished }.each do |other_page| %>
          <li>
            <a href="<%= site[:root] %><%= other_page.path %>"><%= other_page.id.capitalize %></a>:
            <%= other_page.description.internal %>
          </li>
        <% end %>
        </ul>
        <h3 style="font-size:1em">Older tools</h3>
        <ul id="legacy">
          <li><a href="<%= site[:root]%>engines/">Search engines</a></li>
          <li><a href="<%= site[:root]%>aref/">Academic search</a></li>
          <li><a href="<%= site[:root]%>audio/">Audio and music search</a></li>
          <li><a href="<%= site[:root]%>img/">Image search</a></li>
          <li><a href="<%= site[:root]%>geo/">Maps and geography search</a></li>
          <li><a href="<%= site[:root]%>words/">Word reference</a></li>
          <li><a href="<%= site[:root]%>bio/">Biography search</a></li>
          <li><a href="<%= site[:root]%>urlinfo/">URLinfo</a></li>
          <li><a href="<%= site[:root]%>translate/">Translation Wizard</a></li>
          <li><a href="<%= site[:root]%>google/">Google Ultimate Interface</a></li>
          <li><a href="<%= site[:root]%>news/">News search</a></li>
          <li><a href="<%= site[:root]%>date/">Search by date</a></li>
          <li><a href="<%= site[:root]%>quotes/">Quotation search</a></li>
          <li><a href="<%= site[:root]%>search/rss.php">All about RSS</a></li>
        </ul>
      </section>

      <section>
        <h2>About <%= site[:name] %></h2>
        <p>
          <a href="<%= site[:root] %>"><%= site[:name] %></a>
          is a collection of tools to help you find anything online.<br>
          Launched in 2001 and still run by Michael Fagan.
          Send suggestions to <a href="mailto:<%= site[:email] %>"><%= site[:email] %></a>.
        </p>
      </section>

    </footer>

    <script><%= js %></script>

  </body>

</html>