* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

* + * {
  margin-top: 1em;
}

body, form li {
  margin-top: 0;
}

body {
  text-align: center;
  background-color: #eee;
  font-size: 12pt;
  font-family: Helvetica, Arial, sans-serif;
}
body > div {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 0.5em 1em;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  padding: 0.1em 0.3em;
}
button:hover {
  background-color: #ccc;
}

input {
  width: 20em;
}
input {
  padding: 0.3em;
}

$columnwidth: 10em;

form ul {
  list-style-type: none;
}
form > ul {
  column-width: $columnwidth;
  font-size: 0.9em;
}
li ul {
  margin-top: 0;
  margin-bottom: 1em;
}
li div {
  display: inline-block;
  width: 100%;
  max-width: $columnwidth;
}
li li {
  margin: 0.2em 0;
}

h1 {
  font-size: 1em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1em;
}

a {
  white-space: nowrap;
}

#detail {
  $readingwidth: 50em;
  $listpadding: 2em;
  p {
    max-width: $readingwidth;
  }
  li {
    max-width: $readingwidth - $listpadding;
  }
  ul {
    padding-left: $listpadding;
  }
  div {
    margin-top: 0;
  }
  p {
    margin-top: 0.6em;
  }
  li + li, p + ul {
    margin-top: 0.3em;
  }
  a:not([href^="#"]) {
    font-weight: bold;
    font-size: 0.9em;
  }
}

.long {
  font-size: 0.9em;
}