$mobile: 580px;
$non_mobile: $mobile + 1px;
$readingwidth: 50em;
$p_space: 0.8em;
$highlight: #bce0ba;
$link_colour: #0000ee; /* not actually set, but this is or close to the default for various browsers */


/* generic styles */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  touch-action: manipulation; /* disables delay on mobile, checking to see if a tab is a double-tap */
}
button {
  cursor: pointer;
}
body {
  font-size: 14pt;
  font-family: "Lucida Sans Unicode", Sans-serif;
}
input, button {
  font-family: inherit;
  font-size: inherit;
}
p, section li {
  max-width: $readingwidth;
  line-height: 1.4;
}
p {
  margin: $p_space 0;
}
section ul {
  margin: $p_space 0 ($p_space * 1.5) 1.5em;
}
section li {
  margin: ($p_space * 0.8) 0;
}
h1, h2, h3 {
  font-size: 1em;
}
abbr {
  text-decoration: inherit;
}
a:hover {
  color: lighten($link_colour, 20%);
}
*[tabindex="-1"]:focus {
  /* adding this tabindex improves screenreader experience in chrome but is not necessary to show focused */
  outline: none;
}
.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}
sup {
  line-height: 1em;
}


/* set up set up overall layout/width */
body, .highlight {
  text-align: center;
}
.highlight > *, .inner {
  padding: 0 0.8em;
  text-align: left;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
.highlight {
  background-color: $highlight;
  padding: 0.3em 0;
}


/* header */
nav {
  ul {
    display: inline;
  }
  li {
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 0.8em;
  }
}


/* top ad */
.has-js #adone ins {
  display: inline-block;
  width: 728px;
  height: 90px;
}


/* search form */
input {
  width: 20em;
  padding: 0 0.2em;
}
.highlight {
  @at-root form & {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  button {
    display: none;
  }
}
form ul {
  list-style-type: none;
}

@media (min-width: $non_mobile) {
  form > ul {
    -moz-column-width: 10em;
    column-width: 10em;
    line-height: 1em;
    font-size: 0.9em;
    margin: 0.2em 0 0.5em 0;
  }
}
li > div {
  display: inline-block; /* don't allow the div to be split across columns */
  width: 100%;
  margin: 0.3em 0;
}
form ul div div {
  /*
    the second link to the details for each section,
    only needed for mobile
   */
  display: none;
}
button {
  width: 100%;
  text-align: left;
  padding: 0 0.5em;
  margin: 0.1em 0;
  font-size: 0.9em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover, &.activeb {
    color: white;
    background-color: #555;
  }
}
@media screen and (max-width: $mobile) {
  .has-js {
    li > div {
      /* since they are collapsed, need more space between each */
      margin: ($p_space / 2) 0;
    }
    h3 a {
      display: block;
      text-decoration: none; /* undo link underline */
      color: inherit; /* undo link colour */
      &:before {
        content: '\25B6\00A0'; /* right arrow and non-breaking space */
      }
      &:hover {
        color: darken($highlight, 50%);
      }
    }
    form > ul {
      margin: 1em 0;
    }
    form > ul ul { /* hide each section until active */
      display: none;
    }
    .active {
      ul {
        display: block;
        margin: 0.5em 0;
        margin-left: 1em;
      }
      h3 a:before {
        content: '\25BC\00A0'; /* down arrow and non-breaking space */
      }
      div {
        display: block; /* i.e. show */
        margin-left: 1.5em; /* matches ul left margin above + button left padding */
      }
    }
    button {
      /* unset button styles set above */
      font-size: 1em;
      margin: 0.2em 0;
    }
  }
}


/* details section */
section {
  margin: 1.5em 0;
  h2, h3 {
    font-size: 1.2em;
  }
}
section + section {
  margin-top: 3em;
  clear: both; /* around adsense */
}
.btt {
  /* back to top links */
  margin-top: 1.5em;
  a {
    font-size: 0.8em;
  }
}
$ad_width: 336px;
.has-js #adtwo {
  margin: 0 1em 1em 0;
  @media (min-width: ($ad_width * 2)) {
    float: left;
  }
  > ins {
    width: $ad_width;
    height: 280px;
    display: inline-block;
  }
}

footer section {
  margin-top: 0;
}


/* print. consider moving to later in the document or an external file */
@media print {
  a, a:visited {
    color: $link_colour; /* ensure links have consistent colour, even if visited */
  }
  h3 a, h3 a:visited {
    /* section titles in the form don't need to show as links */
    text-decoration: none;
    color: inherit;
  }
  form .highlight {
    position: static;
  }
  button.activeb {
    color: inherit;
  }
  #details a[href^="h"] {
    white-space: normal;
    &:after {
      content: ' ' attr(href);
      font-size: 0.8em;
      font-weight: normal;
    }
  }
  .highlight {
    background-color: transparent;
    border: solid black;
    border-width: 2px 0;
  }
  header.highlight {
    border-width: 0;
  }
  footer.highlight {
    border-bottom-width: 0;
  }
  section {
    page-break-inside: avoid;
  }
  /* hide about, back-to-top links and ads */
  nav, .btt, #adone, #adtwo {
    display: none;
  }
}