<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Video search | Fagan Finder</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style><%= css %></style>

  </head>

  <body>

    <h1>Fagan Finder: Video search</h1>

    <form action="/">

      <input>
      <button>search</button>

      <ul>
      <% engines.each do |engine| %>
        <li><button><%= engine.name %></button></li>
      <% end %>
      </ul>

    </form>

  </body>

</html>