<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= page_id.capitalize %> search | <%= site_name %></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style><%= css %></style>

  </head>

  <body>

    <div>

      <h1><%= site_name %>: <%= page_id.capitalize %> search</h1>

      <form action="/">

        <div>
          <label>
            Search for
            <input type="text">
          </label>
          using…
        </div>

        <ul>
        <% tool_groups.each do |group| %>
          <li><div>
            <h2><%= group.name %></h2>
            <ul>
            <% group.tools.each do |tool| %>
              <li>
                <button name="s" value="<%= tool.searchUrl.gsub('&', '&amp;').sub('{searchTerms}', '{s}') %>">
                  <%= tool.name %>
                </button>
              </li>
            <% end %>
            </ul>
          </div></li>
        <% end %>
        </ul>

      </form>

    </div>

    <script><%= js %></script>

  </body>

</html>